@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h2>An error has occured</h2>
        <span style="color:red">Error Message : @ViewBag.errormsg</span>
        <br /><br />
        Click <a href="~/home/index">Here</a> to return to Home page
    </div>
</body>
</html>
